

/* Style for the background of currentWeatherContainer */
#today {
    background-color: #f3f4f6 !important;
    padding: 20px;
    border-radius: 5px;
}

/* Style for the weather-info container */
.weather-info {
    display: flex;
    align-items: center;
}

/* Style for the buttons and bars in searchHistoryContainer */
#history .history-item {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px!importan;
    margin: 5px;
    border: none;
    cursor: pointer;
    border-radius: 3px!important;
    font-size: 14px;
}

#history .history-item:hover {
    background-color: #0056b3;
}

body, html {
    background-color: #C0D6ED !important;
  }